{% extends 'aadharAuthApp/base.html' %}
{% block content %}
    <div class="container-login100">
<form method="post" class="login100-form validate-form">
                    {% csrf_token %}
					<span class="login100-form-title">
						Enter your Aadhar id
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid Aadhar id is required: 756271">
						<input class="input100" type="number" name="aadhar_id" placeholder="Aadhar id">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-address-card-o" aria-hidden="true"></i>
						</span>
					</div>



					<div class="container-login100-form-btn">
						<button class="login100-form-btn" name="" type="submit" value="Submit">
							Submit
						</button>
					</div>




				</form>
</div>

{% endblock %}