{% extends 'aadharAuthApp/base.html' %}
{% block content%}
{% load staticfiles %}
<div class="container-login100">
    <table >
        <tr>
        <th>Party Name</th><th>Symbol</th></tr>
        <form action="">
        {% for obj in party_list %}
        <tr>
            <td>
                <input type="radio" name="party_name">
            </td>
            <td>{{obj.party_name}}</td>
            <td><img src={{obj.party_icon.url}}></td>
        </tr>
            </form>
        {% endfor %}
     </table>
    <div class="container-login100-form-btn">
						<button class="login100-form-btn" name="" value="Submit">
							Submit
						</button>
					</div>
</div>
{% endblock %}
