{% extends 'aadharAuthApp/base.html' %}
{% block content %}
     <div class="container-login100">
<form method="post" class="login100-form validate-form">
                    {% csrf_token %}
	<div>	{% if messages %}
                         <ul class="messages">
                                     {% for message in messages %}
                                                 <li class="{{ message.tags }}">{{ message }}</li>
					{% endfor %}
							 </ul>
{% endif %}</div>
					<span class="login100-form-title">
						Enter your Voter id
					</span>


					<div class="wrap-input100 validate-input" data-validate = "Valid Voter id is required: 756271">
						<input class="input100" type="number" name="voter_id" placeholder="Enter Voter id">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-address-book-o" aria-hidden="true"></i>
						</span>
					</div>




					<div class="container-login100-form-btn">
						<button class="login100-form-btn" name="" type="submit" value="Submit">
							Submit
						</button>
					</div>



				</form>
</div>


{% endblock %}